<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<%= current_user.name %>のアトリエ
		</aside>
		<%= form_for(@artpost) do |f| %>
			<div class="form-group">
				<%= f.label :artimage, '絵投稿' %>
				<%= f.file_field :artimage, class: 'form-control' %>
			</div>
			<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
		<% end %>
		<div class="col-xs-8">
			<%= render 'artposts/artposts', artposts: @artposts %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<div class="text-center">
			<h1>さあ、自分の絵をさらけ出そう！</h1>
			<%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
<% end %>